.footer {
    display:flex;
    background-color: #12314E;
}
.footer a{
    color: #FFF;
    font-weight: 600;
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    line-height: 72.128px; /* 200% */
    letter-spacing: 0.18px;
}