footer{
    background-color: #12314E;
    position: absolute;
    min-width: 100%;

    .Waves{
        width: 100%;
        border: 1px solid red;
    }
    .row{
        display: flex;
        flex-direction: column ;
        align-items: center;
        padding: 3%;
        .Info{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 70%;
            gap: 12px;
            p{
                font-size: 14px;
                display: flex;
                text-align: center;
                align-items: center;
                color: #FFF;
            }
            h2 {
                font-weight: 700;
                font-size: 35px;
                margin-bottom: 10px;
                color: #FFF;
            }
            .info-a{
                display: flex;
                flex-direction: row;
                .link_info{
                    background-color: #e23e57;
                    padding: 10px;
                    border-radius: 20px;
                    margin: 10px;
                    color: white;
                    text-decoration: none;
                    margin-bottom: 10px;
                }
            }

        }
        .SM{
            display: flex;
            flex-direction: row;
            border-top: 0.1px solid white;
            margin-top: 20px;
            padding: 15px;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            img{
                margin-top: 2%;
                width: 15%;
            }
            p{
                margin-top: 2%;
                color: #FFF
            }

            .socialMedia{
                display: flex;
                flex-direction: row;
                gap: 10px;
                .link_sm{
                    margin-top: 15%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 35px;
                    height: 35px;
                    border-radius: 100%;
                    border: 1px solid white;
                }
            }
        }
    }
}

@media (max-width: 768px){
    footer{
        .row{
            .Info{
                text-align: center;
                flex-direction: column;
                .info-a{
                    display: flex;
                    flex-direction: column;
                }
            }
            .SM{
                flex-direction: column;
                *{
                    padding: 5px;
                }
                img{
                    width: 50%;
                }
                p{
                    display: none;
                }
                .socialMedia{
                    display: none;
                }
            }
        }
    }
}