
.containerHome{
    background: url('/fundoprincipal.svg');
    background-size: cover;
    height: 110vh;
    
    
       
    align-items: center;
    text-align: center;
    justify-content: center;
        
    h1{
        font-weight: 600;
        font-size: 45px;
        margin-top: 5%;
        color: #12314E;
        font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
    }
    .Lupa{
        align-items: center;    
    }

}
